@charset "UTF-8";
.contents {
	height: 700px;
    width: 1000px;
    border: 1px solid;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.title {
  background-color: rgba(255, 0, 0, 0.3);
  height: 100px;
}

.text {
  background-color: rgba(0, 255, 0, 0.3);
  height: 600px;
  width: 650px;
}

.cylinder {
  background-color: rgba(0, 0, 255, 0.3);
  height: 700px;
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
}
