@charset "UTF-8";
.contents {
  height: 700px;
  width: 1000px;
  border: 1px solid;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.title {
  background-color: rgba(255, 0, 0, 0.3);
  height: 100px;
}

.text {
  background-color: rgba(0, 255, 0, 0.3);
  height: 600px;
  width: 650px;
}

.cylinder {
  background-color: rgba(0, 0, 255, 0.3);
  height: 700px;
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
}

form {
  height: 300px;
  bottom: 0;
  position: absolute;
  width: 650px;
}

textarea {
  width: 450px;
  height: 250px;
  border: 5px pink solid;
  margin-left: 2em;
  font-size: 20pt;
}

.nikubtn{
  height: 120px;
    width: 120px;
    border: 1px solid;
    position: relative;
    margin-left: 33em;
    bottom: 5.8em;
}

button {



    display: none;
height: 100%;
width: 100%;
}

/*svg {
  position: absolute;
    bottom: 0;
    right: 0;
}*/

.nikukyu {
  position: absolute;
top: 0;
right: 0;
height: 120px;
width: 120px;
}

.subcylinder {
    border-radius: 90%/20%;
}
.subcylinder::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 2px;
    width: 174px;
    height: 108px;
    border-radius: 55%;
    background: rgba(255, 100, 100, 0.5);

}
.subcylinder::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 2px;
    width: 176px;
    height: 108px;
    border-radius: 55%;
    background: rgba(255, 100, 100, 0.4);

}

.square {
  width: 180px;
height: 600px;
background: rgba(255,100,100,0.5);
position: absolute;
margin-left: 5.5em;
bottom: 0;
}

.ellipse {
  height: 108px;
  border-radius: 55%;
}
