<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Rksdon</title>
</head>

<body>
    <div class="wrap">
        <header>
            <img class="logo" src="/images/rksdon.png"/>
            <span class = "today_post">本日の投稿件数：<span id="today_post"></span>件</span>
        </header>
        <div class="main">
            <div id="info_bar" class="info_bar"></div>
            <div id="contents" class="contents">
                <div id="error_text"></div>
                <div class="input_area">
                    <div id="result" class="result">
                        <div>送信が完了しました!!</div>
                    </div>
                    <form id="form" class="form">
                        <div id="textarea_wrap" class="textarea_wrap">
                            <textarea id="input_message" class="input_message" rows="3" maxlength="128" placeholder="enterキーを押すと投稿されます"></textarea>
                            <div class="textarea_toolbar"><span class="text_length"><span id="text_length">0</span>/128</span></div>
                        </div>
                        <div id="mail_back" class="mail_back"></div>
                        <div id="mail_front" class="mail_front"></div>
                        <div id="mail_top" class="mail_top"></div>
                        <div id="cat_icon" class="cat_icon">
                            <img src="/images/ANGRY_cat.jpg" class="cat">
                        </div>
                        <div class="btn_area">
                            <button id="send_message_btn" class="send_message_btn">投稿する</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/main.js"></script>
</body>

</html>